[Unit]
Description=Validates hardware is properly initialized during boot
After=configure-audio.service
After=gui-shell.service
Before=neon.service

[Service]
Type=oneshot
ExecStart=/opt/neon/preflight-check

[Install]
WantedBy=neon.service