[Unit]
Description=Remove SquashFS Update Flag and do other post-update validation
ConditionPathExists=/opt/neon/squashfs_updated
After=post-update.service
Before=neon.service

[Service]
Type=oneshot
EnvironmentFile=/etc/neon/neon_env.conf
ExecStartPre=/usr/bin/chmod +x /opt/neon/finalize_update
ExecStart=/opt/neon/finalize_update
ExecStartPost=/usr/bin/rm /opt/neon/squashfs_updated

[Install]
WantedBy=multi-user.target