[Unit]
Description=KDEConnect Daemon
Documentation=https://kdeconnect.kde.org/
After=network.target

[Service]
User=neon
Environment="XDG_RUNTIME_DIR=/run/user/$(id -u neon)"
ExecStart=/usr/lib/aarch64-linux-gnu/libexec/kdeconnectd --platform offscreen
Restart=on-failure
RestartSec=5s
StartLimitInterval=60s
StartLimitBurst=3

# Restart the service if it's unexpectedly stopped
RestartPreventExitStatus=SIGINT SIGTERM
RestartForceExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target