[Unit]
Description=Execute an autopairing script for KDE Connect
Documentation=https://github.com/NeonGeckoCom/neon_debos
After=network.target

[Service]
User=neon
ExecStart=/usr/local/bin/autopair-kdeconnect.sh
Restart=never

[Install]
WantedBy=multi-user.target
