[Unit]
Description=Neon A.I. Software stack.
After=pulseaudio.service
After=preflight-check.service
After=basic.target
After=update-clock.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
LogNamespace=neon

[Install]
WantedBy=default.target
