[Unit]
Description=Neon Message Bus
PartOf=neon.service
After=neon-logs.service

[Service]
Type=simple
TimeoutStartSec=300
TimeoutStopSec=30
Restart=always
User=neon
EnvironmentFile=/etc/neon/neon_env.conf
WorkingDirectory=/opt/neon
ExecStart=/home/neon/.local/share/rust_messagebus
LogNamespace=neon

[Install]
WantedBy=neon.service
