[Unit]
Description=Neon Audio Service
PartOf=neon.service
After=neon-bus.service

[Service]
Type=notify
TimeoutStartSec=300
TimeoutStopSec=30
Restart=always
User=neon
EnvironmentFile=/etc/neon/neon_env.conf
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-audio.py
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1004/bus
Environment=DISPLAY=:0
LogNamespace=neon

[Install]
WantedBy=neon.service
