[Unit]
Description=Mycroft GUI
PartOf=mycroft.service
After=mycroft.service
After=mycroft-messagebus.service
Wants=weston.service
After=weston.service

[Service]
User=mycroft
WorkingDirectory=/home/mycroft
Environment=QT_QPA_PLATFORM=wayland
Environment=QT_QPA_PLATFORMTHEME=qt5ct
Environment=QT_PLUGIN_PATH=/usr/lib/aarch64-linux-gnu/qt5/plugins:/usr/lib/aarch64-linux-gnu/qt5/plugins/kf5
Environment=QT_QUICK_CONTROLS_CONF=/home/mycroft/.config/qtquickcontrols2material.conf
Environment=QT_LOGGING_RULES='*=false'
Environment=QT_FILE_SELECTORS=ovos
Environment=QT_FONT_DPI=120
Environment=XDG_RUNTIME_DIR=/tmp/weston
Environment=XDG_DATA_DIRS=/usr/share:/usr/local/share:$XDG_DATA_DIRS
Environment=XDG_CURRENT_DESKTOP=kde
Environment=LD_LIBRARY_PATH=/usr/lib:/usr/lib/aarch64-linux-gnu
Environment=LIBEXEC_PATH=/libexec:/usr/libexec:/usr/lib/libexec
Environment=QML2_IMPORT_PATH=/usr/lib/aarch64-linux-gnu/qt5/qml
ExecStartPre=-/usr/bin/kbuildsycoca5
ExecStartPre=/usr/bin/sh -c 'export $(dbus-launch)'
ExecStart=mycroft-embedded-shell --maximize
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=mycroft.service
