[Unit]
Description=Boot Partition Network Configuration Check
Requires=network.target
After=NetworkManager.service
Before=wifi-setup.service
Before=update-clock.service

[Service]
Restart=on-failure
RestartSec=15s
ExecStart=/bin/bash /opt/neon/check_boot_network_config.sh

[Install]
WantedBy=multi-user.target
