[Unit]
Description=Neon GUI

[Service]
# TODO: Generic user ID
User=root
WorkingDirectory=/opt/neon
EnvironmentFile=/etc/neon/gui-shell.conf
ExecStartPre=-/usr/bin/kbuildsycoca5
ExecStart=ovos-shell
Restart=on-failure

[Install]
WantedBy=multi-user.target
