[Unit]
Description=Neon GUI
Before=neon.service
After=basic.target

[Service]
# TODO: Generic user ID
User=neon
WorkingDirectory=/opt/neon
EnvironmentFile=/etc/neon/gui-shell.conf
ExecStartPre=-/usr/bin/kbuildsycoca5
ExecStart=/usr/bin/ovos-shell
Restart=on-failure
TimeoutStopSec=10

[Install]
WantedBy=graphical.target
