[Unit]
Description=Post-SquashFS Update scripts
ConditionPathExists=/opt/neon/squashfs_updated
ConditionPathExists=/root/post_update
Before=neon.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/chmod +x /root/post_update
ExecStart=/root/post_update
ExecStartPost=/usr/bin/rm /opt/neon/squashfs_updated

[Install]
WantedBy=multi-user.target